{% extends 'base.html' %}


{% block content %}
    <div class="product-card">
            <img src="{{ product.image_url }}" height="100px" width="100" alt="">
            <p>Product name:
                <a href="{% url 'product_page' product_id=product.id %}">{{ product.name }}</a>
                <a href="{% url 'profile_visit' profile_id=product.profile.user_id %}">{{ product.profile.nickname }}</a>
            </p>
            <p><a>Price: {{ product.price }}</a> <a>Current value: {{ product.value }}</a></p>
            <p>Sales: {{ sales }} Rating: {{ product.rating }}</p>
            <p>Description: {{ product.description }}</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Buy</button>
            </form>
    </div>
{% endblock content %}