{% extends 'base.html' %}

{% block content %}
{#    <div class="account-overview-container">#}
{#        <div class="profile">#}
{#            <h1>Profile name: {{ profile.nickname }}</h1>#}
{#            <img src="{{ profile.image_url }}" height="50px" width="50px" alt="">#}
{#            <p>Profile age: {{ profile.age }}</p>#}
{#            <p>Profile about: {{ profile.about }}</p>#}
{#            <p>Profile balance: {{ profile.balance }}</p>#}
{#            <p><a href="{% url 'profile_edit' %}">Edit</a></p>#}
{#        </div>#}
        <div class="container mt-5 d-flex justify-content-center">

            <div class="card p-3">

                <div class="d-flex align-items-center">

                    <div class="image">
                <img src="{{ profile.image_url }}" class="rounded" width="155" >
                </div>

                <div class="ml-5 w-150">

                   <h4 class="mb-0 mt-0">{{ profile.nickname}}</h4>
                   <span>{{ profile.about }}</span>

                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                    <div class="d-flex flex-column">

                        <span class="articles">Rating</span>
                        <span class="number">{{ rating }}</span>

                    </div>

                    <div class="d-flex flex-column">

                        <span class="followers">Balance</span>
                        <span class="number2">{{ profile.balance }}</span>

                    </div>


                    <div class="d-flex flex-column">

                        <span class="rating">Products</span>
                        <span class="number3">{{ products_len }}</span>

                    </div>

                   </div>


                   <div class="button mt-2 d-flex flex-row align-items-center">

                       <a href="{% url 'profile_edit' %}"><button class="btn btn-sm btn-outline-primary w-100">Edit</button></a>
                    <a><button class="btn btn-sm btn-primary w-100 ml-2">Follow</button></a>


                   </div>


                </div>


                </div>

            </div>

         </div>

        <p><a href="{% url 'product_add' %}">Add product</a></p>
        <div class="block-left">
            <h2>My products</h2>
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image_url }}" height="50px" width="50px" alt="">
                    <p>Product name: <a href="{% url 'product_page' product_id=product.id %}">{{ product.name }}</a></p>
                    <p><a>Price: {{ product.price }}</a> <a>Current value: {{ product.value }}</a></p>
                    <p><a href="{% url 'product_edit' product_id=product.id %}">Edit product</a></p>
                </div>
            {% endfor %}
        </div>


        <div class="block-right">
            <h2>My purchases</h2>
            {% for purchase in purchases %}
                <div class="product-card">
                    <img src="{{ purchase.product.image_url }}" height="50px" width="50px" alt="">
                    <p>Product name: <a href="{% url 'product_page' product_id=purchase.product.id %}">{{ purchase.product.name }}</a>
                        from<a href="{% url 'profile_visit' profile_id=purchase.saler.user_id %}"> {{ purchase.saler.nickname }}</a></p>
                    <p><a>Total price: {{ purchase.total_price }}</a> <a>Value: {{ purchase.value }}</a>{{ purchase.date }}</p>
                    {% if purchase.review %}
                    <h4>Your review:</h4>
                    <p>{{ purchase.review.title }}</p> <p>Rate: {{ purchase.review.rating }}</p>
                    <p>{{ purchase.review.description }}</p>
                    {% else %}
                    <p><a href="{% url 'review' purchase_id=purchase.id %}">Leave review</a></p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
{% endblock content %}